* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alfa Slab One', cursive;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

nav li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: black;
}

section img {
    width: 350px;
    height: 350px;
}

section h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    width: 300px;
    padding-bottom: 70px;
}

#nav-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 13vh;
    background-color: red;
    z-index: 10;
}

#menu-container {
    position: absolute;
    top: 30px;
    right: 20px;
}

#red-section {
    width: 100vw;
    height: 80vh;
    background-color: red;
    position: relative;
}

#green-section {
    width: 100vw;
    height: 100vh;
    background-color: green;
    position: relative;
}

#yellow-section {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    position: relative;
}